@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat.ttf);
}
@font-face {
    font-family: Danube;
    src: url(./assets/fonts/Danube.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Montserrat; 
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    height: 60px;
    color: white;
    margin-top: 10px;
}

h1 {
    font-family: Danube;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;

    }

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color : #4876EA;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}

.icons:hover {
    background-color : #405eab;
}

img {
    padding-right: 10px;
}

/*navigation bar  */

#navigation_bar {
    background-color: rgba(128, 128, 128, 0.138);
    display: flex;
}

li {
    padding: 10px;
    list-style: none;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.398);
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}

 
/*  */

